.postsContent {
  width: 50%;
  padding: 0 15px;
}

.postsForm {
  margin-left: 50px;
  margin-bottom: 30px;
}

.posts {
  width: 100%;
  background-color: var(--color-background-base);
  padding: 30px;
  margin-bottom: 30px;
}