:root {
    /* Colors */
    --color-background-base: #ffffff;

    --color-primary-base: #dc4734;

    --color-secondary-base: #333333;

}

*, ::after, ::before {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

body {
    color: #444444;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background-color: #f1f1f1;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

::selection {
    color: #fff;
    background: #dc4734;
}

img, svg {
    vertical-align: middle;
}